.crime-types {
    position: fixed;
    width: 30%;
    height: 60vh;
    right: 0px;
    padding: 10px;
}

.check-crime-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date-message {
    font-size: 12px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50px;
}

.event-overview {
    height: 94%;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #e49376;
    overflow-y: scroll;
}

/* width */
.event-overview::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.event-overview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray; 
  border-radius: 10px;
}
 
/* Handle */
.event-overview::-webkit-scrollbar-thumb {
  background: #997BD1; 
  border-radius: 10px;
}

/* Handle on hover */
.event-overview::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #9f81f1, #e49376); 
}

.event-overview div {
    margin-top: 10px;
}


@media screen and (max-width: 800px) {
    .crime-types {
      position: relative;
      width: 100%;
      height: 50vh;
    }

    .check-crime-event {
      margin: 20px 0px;
    }

    .crime-date, .crimeTypeSelect {
      height: 30px;
      width: 150px;
    }
}