.crime-types {
    position: fixed;
    width: 28%;
    right: 0px;
    padding: 10px;
}

.check-crime-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crime-date {
    height: 30px;
}