.general {
  margin: 10px;
}

.chart-container {
  height: 350px;
  padding-bottom: 3rem;
}

.pie-analysis {
  margin: 2rem 0px 4rem 0px;
}

/* .percentages-container {
  margin: 2rem 0;
} */

.context {
  width: 100%;
  height: 10rem;
  resize: none;
  padding: 0.5rem;
  outline: none;
}

.analyse {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: linear-gradient(to right, #e49376, #9f81f1);
  color: white;
  border: none;
  border-radius: 6px;
}