.sidebar {
    border-right: 0.5px solid #e49376;
    border-bottom: 0.5px solid #e49376;
    width: 23%;
    height: 60vh;
    position: fixed;
    padding: 10px;
}

#btn-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(to right, #9f81f1, #e49376);
    color: white;
    border: none;
    padding: 5px;
    font-family: Poppins;
    font-size: 12px;
    width: 25%;
    cursor: pointer;
    border-radius: 5px;
}

.side-nav {
    display: flex;
    /* justify-content: space-between; */
}

.side-nav span {
    font-size: 9px;
}

#nav-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.nav-input {
    display: flex;
    margin: 10px 0px;
    position: relative;
    /* background-color: rebeccapurple; */
}

.nav-search-input {
    width: 95%;
    height: 30px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    padding-left: 25px;
}

.search-icon {
    font-size: 16px;
    color: black;
    position: absolute;
    left: 12px;
    top: 7px;
}

.nav-menu p {
    margin: 0px 10px;
}

.nav-menu div {
    margin: 5px 0px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background: none;
}

.nav-menu div:nth-of-type(1) {
    background: linear-gradient(to right, #9f81f1, #e49376);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav-menu div:hover {
    background: linear-gradient(to right, #9f81f1, #e49376);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav-icon  {
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 85%;
        height: 85vh;
        position: fixed;
        z-index: 100;
        background: white;
        transform: translateX(-102%);
        transition: transform 0.3s ease;
        border: none;
        box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.671);
    }

    .sidebar-open {
        transform: translateX(0); /* Slide in from the left when open */
    }

    .search-icon {
        left: 15px;
    }

    #nav-pic {
        width: 60px;
        height: 60px;
    }
}