.pie {
    padding: 20px 10px;
}

.pie-container {
    height: 350px;
}

.pie input {
    border: 1px solid black;
    padding-left: 0.3rem;
    outline: none;
    width: 200px;
}

.pie button {
    margin-left: 1rem;
    cursor: pointer;
}

.error-message {
    text-align: center;
    font-size: 0.75rem;
}

.percentage-table {
    display: flex;
}

.percentage-list {
    margin-top: 20px;
    list-style-type: none;
}

.list-item {
    margin-bottom: 10px;
}

@media screen and (max-width: 300px) {
    .pie input {
        width: 150px;
    }

    .pie h3 {
        font-size: 0.8rem;
    }

    .percentage-table {
        flex-direction: column;
    }
}