.pie {
    padding: 20px 10px;
}

.pie-container {
    height: 350px;
}

.pie input {
    border: 1px solid black;
    padding-left: 0.3rem;
    outline: none;
}

.pie button {
    margin-left: 1rem;
    cursor: pointer;
}

.error-message {
    text-align: center;
    font-size: 0.75rem;
}